header.big-header {
    position: relative;
    &:after {
        display: block;
        content: "";
        z-index: 5;
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.55);
    }
    .the-header-feature-image > img, .the-header-post-feature-image > img {
        width: 100%;
        max-height: 75vh;
        object-fit: cover;
        display: block;
    }
    .header-content-centered {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 6;            
        .header-content {
            animation: fade-scale-in 1s ease 0s;
            color: #fdfdfd;
            max-width: 960px;
            text-align: center;
            .header-title {
                margin: 20px 0 25px;
            }
            span.posted-on {
                color: #eeeeee;
                text-transform: uppercase;
            }
            span.cat-links {
                margin-right: 0;
                border-radius: 3px;
                background: #fdfdfd;
                padding: 5px 7px;
            }
            span.cat-links:after {
                display: none;
            }
            span.cat-links > a {
                color: rgba(0, 0, 0, 0.65);
            }
        }
    }
}

header.big-header.is-narrow .the-header-feature-image > img {
    height: 275px;
}
