.card {
    background-color: #fff;
    border: 0 solid hsla(0,0%,100%,.25);
    border-radius: 2px;
    box-shadow: 0 1px 5px #dcdcdc;
    position: relative;
    transition: opacity .2s ease-in-out;
    margin-top: $baseline * 2;
    margin-bottom: $baseline * 2;

    .card-image {
        img {
            width: 100%;
            max-height: 80vh;
            object-fit: cover;
            object-position: center;
        }
        a.post-thumbnail {
            img {
                max-height: 450px;
                transition: filter 0.15s ease 0s;
            }
            &:hover img {
                filter: opacity(0.7);
            }
        }
    }
    .card-content {
        white-space: normal !important;
        margin-bottom: 1.25rem;
        position: relative;
        padding: 100px 90px;
    }
    .card-content.truncated {
        padding: 2.5rem;
    }
    .card-content.truncated:after {
        content: "";
        position: absolute;
        bottom: calc(2.5rem + 3rem);
        left: 0;
        width: 100%;
        height: 100px;
        background-color: transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), #fff 95%);
        z-index: 100;
    }
}