span.cat-links {
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 2em;
    position: relative;

    &:after {
        display: block;
        content: "";
        position: absolute;
        right: -1em;
        top: 0;
        bottom: 0;
        width: 1px;
        background: currentColor;
    }
}