.heading-wrapper {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}
div.heading {
    text-transform: uppercase;
    border-bottom: 3px solid $color-black;
    margin-bottom: 1rem;
    & > * {
        margin-bottom: 0;
    }
    span {
        padding: 0.5rem 0.75rem calc(0.5rem - 3px) 0.75rem;
        
        background: $color-black;
        color: $color-white;
        display: inline-block;
    }
    span.heading-icon {
        background: $color-secondary;
        color: $color-black;
        border: 3px solid $color-black;
        border-bottom: none;
        padding: calc(0.5rem - 3px) calc(0.75rem - 3px);
    }
}