.responsive-box {
    width: 100%;
    position: relative;
    padding-top: 40.41%;
}
.responsive-box.is-square {
    padding-top: 100%;
}
.responsive-box.is-3by2 {
    padding-top: 66.67%;
}
.responsive-box.is-2by1 {
    padding-top: 50%;
}
.responsive-box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}