.the-card {
    .the-card-content {
        p.card-image {
            display: block;
            position: relative;
            padding-top: 60%;
            border-radius: 3px;
            margin-bottom: 0.75rem;
            img {
                border-radius: 3px;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                max-width: unset;
                right: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                z-index: 9;
            }
        }
    }
    .the-card-content:hover {

    }
}