    /*
    Flaticon icon font: Flaticon
    Creation date: 05/09/2018 06:50
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./../fonts/Flaticon.eot");
  src: url("./../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./../fonts/Flaticon.woff") format("woff"),
       url("./../fonts/Flaticon.ttf") format("truetype"),
       url("./../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

.flaticon-search:before { content: "\f100"; }
.flaticon-user:before { content: "\f101"; }
.flaticon-send:before { content: "\f102"; }
.flaticon-share:before { content: "\f103"; }
.flaticon-note:before { content: "\f104"; }
.flaticon-list:before { content: "\f105"; }
.flaticon-stopwatch:before { content: "\f106"; }
.flaticon-seo-contest:before { content: "\f107"; }
.flaticon-podium:before { content: "\f108"; }
.flaticon-sponsor:before { content: "\f109"; }
.flaticon-trophy:before { content: "\f10a"; }
    
    $font-Flaticon-search: "\f100";
    $font-Flaticon-user: "\f101";
    $font-Flaticon-send: "\f102";
    $font-Flaticon-share: "\f103";
    $font-Flaticon-note: "\f104";
    $font-Flaticon-list: "\f105";
    $font-Flaticon-stopwatch: "\f106";
    $font-Flaticon-seo-contest: "\f107";
    $font-Flaticon-podium: "\f108";
    $font-Flaticon-sponsor: "\f109";
    $font-Flaticon-trophy: "\f10a";