body.admin-bar {
    padding-top: calc($header-height + 32px);
}
a {
    color: $color-black;
    transition: color 0.15s ease 0s;
}
a:hover {
    color: $primary;
}
a.effect {
    color: $color-black;
    transition: color 0.15s ease 0s, background 0.15s ease 0s;
}

a.effect:hover {
    background: $color-black;
    color: $color-secondary;
}

p {
    margin-bottom: 1.5rem;
}