section[role=contact] {
    background: url(../images/contact-us.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    &:before {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.25);
    }
    div.contact-content {
        z-index: 2;
        position: relative;
        color: white;
    }
    div.contact-us-icon {
        border-radius: 50%;
        background: white;
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5rem;
        height: 5rem;
        margin: -45px auto 30px;
        font-size: 3rem;
        span.icon {
            margin-left: -0.4rem;
        }
    }
}

footer#colophon {
    padding: 115px 6% 75px;
    border-top: 1px solid #ECEFF3;
}
