header#master-header {
    background: transparent;
    box-shadow: 0 1px 0px transparent;
    height: $header-height;
    padding: 0 24px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    transition: box-shadow 0.35s,transform 0.35s cubic-bezier(0.5, 0, 0.35, 1),opacity 0.35s cubic-bezier(0.5, 0, 0.35, 1),background 0.35s;
    .site-branding {
        position: absolute;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        img.logo {
            height: 50px;
        }
    }

    nav.primary-menu-navigation {
        ul#primary-menu {
            display: flex;
            & > li {
                padding: 0 .75em;
                & > a {
                    text-transform: uppercase;
                    font-weight: bold;
                    position: relative;

                    &:before,
                    &:after {
                        display: block;
                        content: "";
                        position: absolute;
                        height: 2px;
                        left: 0;
                        right: 0;
                        background: currentColor;
                        transition: transform .35s $transition-timing-function 0s, opacity .35s $transition-timing-function 0s;
                        opacity: 0;
                    }
                    &:before {
                        top: -2px;
                        transform: translateY(-5px);
                    }
                    &:after {
                        bottom: -2px;
                        transform: translateY(5px);
                    }
                    &:hover:before,
                    &:hover:after {
                        transform: translateY(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}
header#master-header:hover {
    background: white;
}
body.admin-bar  header#master-header {
    top: 32px;
}

body.single-post header#master-header {

    &:not(:hover) {
        a {
            color: $color-white !important;
        }
        .logo {
            filter: invert(100%);
        }
    }
    &:hover {
        a {
            color: $color-black !important;
        }
        a:hover {
            color: $color-white !important;
        }
    }
}