section#promotions {
    
    border-top: 1px solid #ECEFF3;
    background: url(../images/promotions-pattern.png) repeat;
    & > header {
        padding-bottom: 50px;
        color: #E43A2C;
        text-align: center;
        text-transform: uppercase;
        h2 {
            margin-bottom: 0;
        }
    }
    div.promotions-content {
        max-width: 960px;
        margin: 0 auto;
    }
}