.sidebar-container .sidebar {

    .ads-container {
        text-align: center;
        border: 1px solid white;
        color: white;
        background: #cc0032e6;
    }

}

section.widget {
    padding: $baseline;
    background: $white;
    margin-bottom: $baseline * 2;
}