$header-height: 70px;

$transition-timing-function: cubic-bezier(0.5, 0, 0.35, 1);

$transition-timing-function-slow: 0.25s ease 0s;

$color-secondary: #ffe311;

$color-black: #1b1b1b;

$color-white: #f7f7f7;
$whitegrey:  #f5f5f5;

$body-background-color: $whitegrey;

$family-primary: "Muli", serif;
$baseline: 24px;
$column-gap: $baseline;
$gap: $baseline * 3;