#category_archiver {
    section {
        margin: 0 auto;
    }
    .section-title {
        margin-bottom: 2rem;
    }
    p:not(.card-image) {
        margin-bottom: 0;
    }
    div.meta {
        margin-top: 0.5rem;
    }
}