div#frontpage {
    .heading-wrapper {
        padding-top: 75px;
        padding-left: 6%;
    }
    section#main {
        width: 100%;
        article {
            
            position: relative;
            .article-content {
                max-width: 960px;
                margin: 0 auto;
                .post-thumbnail > img {
                    max-height: 500px;
                    overflow: hidden;
                    display: block;
                    object-position: center;
                    object-fit: cover;
                    width: 100%;
                }
            }
            header {
                .entry-meta {
                    margin-top: 10px;
                    margin-bottom: 20px;
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 0.04em;
                    z-index: 20;
                    position: relative;
                    color: rgba(48,48,48,0.66);
                }
            }
        }
    }
}
section#frontpage-showcase {
    border-bottom: 1px solid #eceff3;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #f5f7f9 0%, rgba(245,247,249,0.5) 100%);

    .frontpage-showcase-content {
        text-align: center;
        padding: 75px 0; 
        img {
            animation: frontpage-logo-animation 1s ease 0s forwards;
            height: 200px;
            opacity: 0;
        }
        h1 {
            text-transform: uppercase;
            padding: 50px 0 0 0;
            animation: frontpage-text-animation 1s ease .25s forwards;
            opacity: 0;
        }
    }
}

@keyframes frontpage-logo-animation {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes frontpage-text-animation {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}



body.home {
    #master-header {
        box-shadow: 0 1px 0px transparent;
        background-color: rgba(236,239,243,0.5);

        &:hover {
            box-shadow: 0 1px 0px rgba(0,0,0,0.1),0 4px 10px rgba(0,0,0,0.1);
            background: #fff;
        }
    }

}

section#tournaments {
    border-bottom: 1px solid #eceff3;
    padding: 0 24px;
    img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .tournament-box {

        text-align: center;
        .heading.tournament-heading {
            border-bottom-color: transparent;
            position: relative;
            z-index: 9;
            margin-top: 1rem;

            span {
                border-bottom: 3px solid $color-black;
            }
        }
        .tournament-content {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

    }

}