article#single-post {
    margin-top: -70px;
    border-bottom: 1px solid #ECEFF3;

    & > .article-content {
        max-width: 960px;
        margin: 0 auto;
        p {
            margin-bottom: 1.5em;
        }
        .post-content {
            margin-top: 20px;
        }
    }
}
section.related-posts {
    background: $white-ter;
}
@keyframes fade-scale-in {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}